{% macro header(title) -%}
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="page-title-box">
                <h4 class="font-size-18">{{title}}</h4>
                <ol class="breadcrumb mb-0">
                    {% set paths =  url_for(request.endpoint).split("/") %}
                    {% for i in range(paths|length) %}
                        {% if (i == paths|length- 1) %}
                            <li class="breadcrumb-item active">{{ paths[i] }}</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{{ paths[i] }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                </ol>
            </div>
        </div>
    </div>
{%- endmacro %}