# Exclude min.js and css
!*.min.*

# Ignore env folder
env
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyBuilder
.pybuilder/
target/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

