<!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a >
                    <b class="logo-abbr" onclick="$('#nav_show').click()">TM</b>
                    <span class="brand-title"><b>Thread Surface Monitoring</b></span>
                </a>
            </div>
            <div class="nav-control">
                <div id="nav_show" class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
        </div>
        <!--**********************************
                    Nav header end
                ***********************************-->


<div class="header">    
    <div class="header-content clearfix">
        <div class="header-left">
            <div class="input-group icons">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0" id="basic-addon1"><i class="icon-magnifier"></i></span>
                </div>
                <input type="search" class="border-0" placeholder="Search Dashboard" aria-label="Search Dashboard">
                <div class="drop-down animated flipInX d-md-none">
                    <form action="#">
                        <input type="text" class="form-control " placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
        <div class="header-right">

            <ul class="clearfix">
                <li class="icons">
                    <a href="javascript:void(0)" class="">
                        <i class="icon-bell"></i>
                        <span class="badge badge-primary">3</span>
                    </a>
                    <div class="drop-down animated flipInX dropdown-notfication">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-calender"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Event Started</h6>
                                            <span class="notification-text">One hour ago</span> 
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void()">
                                        <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-calender"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Event Started</h6>
                                            <span class="notification-text">One hour ago</span> 
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void()">
                                        <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-calender"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Event Started</h6>
                                            <span class="notification-text">One hour ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void()">
                                        <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-calender"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Event Started</h6>
                                            <span class="notification-text">One hour ago</span> 
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <a class="d-flex justify-content-between bg-primary px-4 text-white" href="javascript:void()">
                                <span>All Notifications</span>
                                <span><i class="icon-settings"></i></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="icons">
                    <div class="user-img c-pointer-x">
                        <span class="activity active"></span>
                        <img src="/static/assets/images/user/1.png" height="40" width="40" alt="">
                    </div>
                    <div class="drop-down dropdown-profile animated flipInX">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="javascript:void()"><i class="icon-user"></i> <span>My Profile</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void()"><i class="icon-paper-plane"></i> <span>My Tasks</span><div class="badge badge-pill bg-dark">3</div></a>
                                </li>
                                <li>
                                    <a href="javascript:void()"><i class="icon-key"></i> <span>Logout</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


    </div>
</div>