{% extends "layout/base.html" %}

{% block title %}
Startup Setup
{% endblock %}

{% block head %}
    
    <!-- DataTables -->
    <link href="/static/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/assets/libs/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css">

    <style>
    </style>

{% endblock  %}
    
{% block body %}
{% from 'layout/header.html' import header %}
{{header("Startup Setup")}}

<div class="card" style="padding-right: 10px;">
    <div class="card-body overflow-auto">

        <h4 class="card-title">Scan Steps</h4>
        <p class="card-title-desc">
        </p>

        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="padding-right: 10px; min-width:100%;">
            <thead>
            <tr class="bg-primary" style="color: white;">
                <th style="min-width:5px">Expand</th>
                <th >Id</th>
                <th>Order</th>
                <th>Command</th>
                <th>Short Name</th>
                <th>Description</th>
                <th style="min-width:10px">Option</th>
            </tr>
            </thead>


            <tbody>
                
            </tbody>
        </table>

    </div>
</div>

{% endblock %}

{% block script %}
    <!-- Required datatable js -->
    <script src="/static/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <script src="/static/assets/libs/datatables.net-autofill/js/dataTables.autoFill.min.js"></script>
    <script src="/static/assets/libs/datatables.net-autofill-bs4/js/autoFill.bootstrap4.min.js"></script>

    <script>
        var table =$("#datatable")
            .on("dblclick",".addChildTable",function(){
                console.log(table.data())
                addChildTable(this)
            })
            .on("mousedown",".removeChildTable",function(){
                removeChildTable(this)
            })
            .DataTable({
            //dom: "Bfrtip",
            ajax:"/api/scan/setup",
            order: [[ 1, 'asc' ]],
            createdRow:function(row, data, index){
                $(row).addClass("removeChildTable")
            },
            columns: [
                { 
                    data:"Expand",
                    render:function(e){
                        return `
                                <i class="ti-angle-down" title ="Double Click to Expand"></i>
                            
                            `;
                    } 
                },
                { data: "id" },
                { data: "order" },
                { data: "command" },
                { data: "short_name" },
                { data: "description" },
                { 
                    data: "option",
                    render: function(e){
                        return `
                        <div class="btn-group mr-1 mt-2 ">
                            <i class="ion ion-md-options dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu" style="min-width: 10px;">
                                <a class="dropdown-item" href="#">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                        `;
                    }
                }
            ],
            columnDefs: [
                    
                    { targets: 0, orderable: false, searchable : false,className : "addChildTable" },
                    { targets: 1, width:"20px", visible : false, searchable : false },
                    { targets: 2, width:"30px",},
                    { targets: 6, orderable: false, width:"30px", searchable:false}
                ]
        });
        /*/<!-- Table row Drag -->*/
        
        $(function () {
            $('tbody').sortable({
                start: function (event, ui) {
                    
                    $(ui.item).addClass("text-info")
                },
                stop:function(event,ui){
                    table.$('tr.text-info').removeClass('text-info');
                },
                update: function(event, ui) {
                    $.each(table.$(".data-id").toArray(), function(index , row){
                        
                        console.log($(row).text())
                    }) 
                    
                }
            });
        });
        const getMethods = (obj) => {
            let properties = new Set()
            let currentObj = obj
            do {
              Object.getOwnPropertyNames(currentObj).map(item => properties.add(item))
            } while ((currentObj = Object.getPrototypeOf(currentObj)))
            return [...properties.keys()].filter(item => typeof obj[item] === 'function')
          }
        
        function removeChildTable(firstCell){
            console.log("removechild table")
            table.row(table.$('tr.text-info')).child.hide()
            $($(table.$('tr.text-info')).children().children().get()[0]).removeClass("ti-angle-double-down")
            $($(table.$('tr.text-info')).children().children().get()[0]).addClass("ti-angle-down")
        }
        function addChildTable(firstCell){
            var child_table=`
            <table id="childtable" class="table table-bordered dt-responsive nowrap" style="padding-right: 10px; min-width:100%;">
                <thead>
                <tr class="text-success" style="">
                    <th >Id</th>
                    <th>Order</th>
                    <th>Command</th>
                    <th>Short Name</th>
                    <th>Description</th>
                    <th style="min-width:10px">Option</th>
                </tr>
                </thead>
    
    
                <tbody>
                    
                </tbody>
            </table>
            `
            
            var icon=$(firstCell).children()[0]
            if($(table.$('tr.text-info')).length==0){
                if (icon.classList.contains("ti-angle-down")){
                    console.log("add childtable")
                    var tr=table.row($(firstCell.parentElement))
                    var tr_row=$(firstCell).parent()
                    $(tr_row).addClass("text-info")
                    //console.log(tr)
                    tr.child(child_table).show()
                    icon.classList.replace("ti-angle-down","ti-angle-double-down")

                    
                    table_testdata=$("#childtable").DataTable({
                        destroy:true,
                        pageLength : 5,
                        lengthMenu: [[5, 10, 20], [5, 10, 20]],
                        ajax:"/api/scan/setup",
                        order: [[ 1, 'asc' ]],
                        columns:[
                        
                            { data: "id" },
                            { data: "order" },
                            { data: "command" },
                            { data: "short_name" },
                            { data: "description" },

                            { 
                                data: "option",
                                render: function(e){
                                    return `
                                    <div class="btn-group mr-1 mt-2 ">
                                        <i class="ion ion-md-options dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                        <div class="dropdown-menu" style="min-width: 10px;">
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </div>
                                    `;
                                }
                            }
                        ],
                        columnDefs: [
                            { targets: 0, width:"20px", visible : false, searchable : false },
                            { targets: 1, width:"30px",},
                            { targets: 5, orderable: false, width:"30px", searchable:false}
                        ]
                    });
                    $("#childtable tbody").sortable();
                    
                }else{
                    console.log("remove childtable")
                    var tr_row=$(firstCell).parent()
                    $(tr_row).removeClass("text-info")
                    var tr=table.row($(firstCell.parentElement))
                    icon.classList.replace("ti-angle-double-down","ti-angle-down")
                    tr.child().hide()
                    
                }
                    
            }else if(icon.classList.contains("ti-angle-down")){
                
                table_testdata.clear().destroy();
                    
                $($(table.$('tr.text-info')).children().children().get()[0]).removeClass("ti-angle-double-down")
                $($(table.$('tr.text-info')).children().children().get()[0]).addClass("ti-angle-down")
                table.row(table.$('tr.text-info')).child.hide()
                table.$('tr.text-info').removeClass("text-info")
                $('#testdata').empty();

                var tr=table.row($(firstCell.parentElement))
                var tr_row=$(firstCell).parent()
                $(tr_row).addClass("text-info")
                //console.log(tr)
                tr.child(child_table).show()
                icon.classList.replace("ti-angle-down","ti-angle-double-down")

                
                table_testdata=$("#childtable").DataTable({
                    destroy:true,
                    pageLength : 5,
                    lengthMenu: [[5, 10, 20], [5, 10, 20]],
                    ajax:"/api/scan/setup",
                    order: [[ 1, 'asc' ]],
                    columns:[
                    
                        { data: "id" },
                        { data: "order" },
                        { data: "command" },
                        { data: "short_name" },
                        { data: "description" },

                        { 
                            data: "option",
                            render: function(e){
                                return `
                                <div class="btn-group mr-1 mt-2 ">
                                    <i class="ion ion-md-options dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="dropdown-menu" style="min-width: 10px;">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                                `;
                            }
                        }
                    ],
                    columnDefs: [
                        { targets: 0, width:"20px", visible : false, searchable : false },
                        { targets: 1, width:"30px",},
                        { targets: 5, orderable: false, width:"30px", searchable:false}
                    ]
                });

                $("#childtable tbody").sortable();
                

            }
            else{
                
                try{
                    console.log("search remove childtable")
                    table_testdata.clear().destroy();
                    
                    $($(table.$('tr.text-info')).children().children().get()[0]).removeClass("ti-angle-double-down")
                    $($(table.$('tr.text-info')).children().children().get()[0]).addClass("ti-angle-down")
                    table.row(table.$('tr.text-info')).child.hide()
                    table.$('tr.text-info').removeClass("text-info")
                    $('#testdata').empty();
                    
                }catch(e){
                    console.log(e)
                    console.log("search error remove childtable")
                    table.row(table.$('tr.text-info')).child.hide()
                    $($(table.$('tr.text-info')).children().children().get()[0]).removeClass("ti-angle-double-down")
                    $($(table.$('tr.text-info')).children().children().get()[0]).addClass("ti-angle-down")
                    table.$('tr.text-info').removeClass("text-info")
                    $('#testdata').empty();
                    
                }

            }
            
        }

        /*$('tr').mousedown(function(event){
            table.row($('tr.text-warning')).child.hide()
            this.classList.add("text-warning")
        });
        $("tr").mouseup(function(event){
            table.$('tr.text-warning').removeClass('text-warning');
            table.$('tr.shown').removeClass('shown');
        })
        
        /*      DELETE SELECTED ROW
        $('#button').click( function () {
            table.row('.selected').remove().draw( false );
        } );*/
        
        /*
        $('#datatable tbody').on('dblclick', 'tr td:first-child', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );
     
            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
                tr.removeClass('text-info');
            }
            else {
                
                table.row(table.$('tr.text-info')).child.hide()
                table.row($('tr.shown')).child.hide()
                table.$('tr.text-info').removeClass('text-info');
                table.$('tr.shown')
                table.$('tr.shown').removeClass('shown');

                tr.addClass('text-info');
                
                // Open this row
                row.child( `
                <table  id="testdata" class="table table-bordered dt-responsive nowrap" style="border-inline-color: red ;">
                    <thead class="text-success">
                        
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </thead>
                    <tbody>
                        
                        {% for i in range(10) %}
                            <tr>
                                <td>{{i}}Tiger Nixon</td>
                                <td>{{i}}System Architect</td>
                                <td>{{i}}Edinburgh</td>
                                <td>{{i}}61</td>
                                <td>20{{i}}/04/25</td>
                                <td>$ {{i}}0,800</td>
                            </tr>
                    
                        {% endfor %}
                    </tbody>
                </table>
                ` ).show();
                tr.addClass('shown');
                $("#testdata").DataTable({
                    pageLength : 5,
                    lengthMenu: [[5, 10, 20], [5, 10, 20]]
                });
            }
        } );
        */

    </script>
{% endblock %}