{% extends "layout/base.html" %}

{% block title %}
Startup Setup
{% endblock %}

{% block head %}
    
    <!-- DataTables -->
    <link href="/static/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/assets/libs/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/assets/libs/x-editable/bootstrap4-editable/css/bootstrap-editable.css">
    <link rel="stylesheet" href="/static/assets/libs/bootstrap-switch/css/bootstrap4/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/static/assets/libs/bootstrap-taginput/tagsinput.css">

    <style>
        .selected{
            background-color: #eff2f7;
            color: gray;
            
        }
        .popover {
            background-color: #2a3142;
            color:white;
        }
        .popover-header{
            background-color: #3a425a;
            color:white;
        }
        
        .editable-popup{top:0px !important;left:-10px !important;}
        .editable-unsaved{
            color: goldenrod;
        }
    </style>

{% endblock  %}
    
{% block body %}
{% from 'layout/header.html' import header %}
{{header("Startup Setup")}}

<div class="card" style="padding-right: 10px;">
    <div class="card-body overflow-auto">

        <h4 class="card-title">Scan Steps</h4>
        <p class="card-title-desc">
        </p>

        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="padding-right: 10px; min-width:100%;">
            <thead>
            <tr class="bg-primary" style="color: white;">
                <th style="min-width:5px">Expand</th>
                <th >Id</th>
                <th>Order</th>
                <th>Command</th>
                <th>Short Name</th>
                <th>Description</th>
                <th>Sub Command</th>
                <th style="min-width:10px">Option</th>
            </tr>
            </thead>


            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block script %}
    <!-- Required datatable js -->
    <script src="/static/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>


    <script src="/static/assets/libs/datatables.net-autofill/js/dataTables.autoFill.min.js"></script>
    <script src="/static/assets/libs/datatables.net-autofill-bs4/js/autoFill.bootstrap4.min.js"></script>
    <script src="/static/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>
    <script src="/static/assets/libs/bootstrap-taginput/tagsinput.js"></script>
    
    <script src="/static/assets/libs/x-editable/bootstrap4-editable/js/bootstrap-editable.js"></script>
    <script src="/static/assets/js/x-editable-extend/boolean.js"></script>
    <script src="/static/assets/js/x-editable-extend/string.js"></script>
    <script src="/static/assets/js/x-editable-extend/array.js"></script>

    <script>
        var datatable_get = "/api/datatable/datatable"
        var datatable_child_table = "/api/datatable/fk/<table_name>/<column_name>/<fk_value>"
        var x_editable_table = "/api/x_editable/<table_name>"
        var datatable_swap_row = "/api/datatable/swap/<table_name>"
        
        var parent_table_name = "parentTable"
        var child_table_name = "childTable"
        
        var datatable_obj ={}
        var childDatatableEdit ={}
        var datatableEdit={}

        var column_pk_name  =  "id"
        var column_swap_stable = "order"

        var datatable_column = [
            { data: "id" ,},
            { data: "order",},
            { data: "command",},
            { data: "short_name",},
            { data: "description", },
            { data : "sub_command"},
        ];
        

        function x_editable_row(element,this_table,tableEditgroup,table_name){
            if(tableEditgroup === undefined){
                tableEditgroup={}
            }
            var tr_element=$(element).parent().parent().parent().parent()
            
            console.log(this_table)
            var tr=this_table.row(tr_element)
            var row_to_edit = tr_element.find("[datatable-cell-edit]")
            if(row_to_edit.attr("datatable-cell-edit") =="true"){
                element.text="Edit"
                element.classList.replace("text-success","text-info")
                
                $.each(row_to_edit,function(row_to_edit_index){
                    tableEditgroup[tr_element.attr("datatable-row-pk")][row_to_edit[row_to_edit_index].getAttribute("datatable-cell-name")].editable("destroy")
                })
                
                row_to_edit.removeClass("text-warning")
                
                row_to_edit.attr("datatable-cell-edit",false)
                $.each(tableEditgroup[tr_element.attr("datatable-row-pk")],function(valueIndex,valueObj){
                    valueObj.editable("destroy")
                })
                
                return tableEditgroup;
            }else{
                element.text="X - Edit"
                element.classList.replace("text-info","text-success")
                
                row_to_edit.addClass("text-warning")
                row_to_edit.attr("datatable-cell-edit",true)

                if(tableEditgroup[tr_element.attr("datatable-row-pk")] === undefined){
                    tableEditgroup[tr_element.attr("datatable-row-pk")]={}
                }

                $.each(row_to_edit,function(row_to_edit_index){
                    tableEditgroup[tr_element.attr("datatable-row-pk")][row_to_edit[row_to_edit_index].getAttribute("datatable-cell-name")]=
                    
                    tr_element.find(`[datatable-cell-name='${row_to_edit[row_to_edit_index].getAttribute("datatable-cell-name")}']`).editable({
                        type: row_to_edit[row_to_edit_index].getAttribute("datatable-cell-type"),
                        pk: tr_element.attr("datatable-row-pk"),
                        value: tr.data()[row_to_edit[row_to_edit_index].getAttribute(column_pk_name)],
                        send: "always",
                        url: x_editable_table
                            .replace("<table_name>",table_name),
                        ajaxOptions: {contentType: 'application/json', dataType: 'json'},
                        params: function(params) {
                            //params.value = JSON.stringify(params.value)
                            return JSON.stringify(params)
                        },
                        success: function(response, newValue) {
                            try{
                                
                                updated_row_value=this_table.row(tr_element)
                                .data()
                                updated_row_value[row_to_edit[row_to_edit_index].getAttribute("datatable-cell-name")]=newValue
                                this_table.row(tr_element).data(updated_row_value).draw("true")
                                //this_table.row(tr_element).draw("true")
                            }catch(e){console.log(e)}
                        }
                    });

                })
                
                return tableEditgroup;
            }
        }

        function addChildTable(firstCell,table,){//table_id){
            
            var icon=$(firstCell).children()[0]
            var tr_row=$(firstCell).parent()
            
            var tr=table.row($(firstCell.parentElement))
            var child_table=`
                <table id="childtable${tr.data()['id']}" class="table table-bordered dt-responsive nowrap" style="padding-right: 10px; min-width:100%;border-left-color: red;">
                    <thead>
                    <tr class="text-success" style="">
                        <th >Id</th>
                        <th>Order</th>
                        <th>Command</th>
                        <th>Short Name</th>
                        <th>Description</th>
                        <th>Sub Command</th>
                        <th style="min-width:10px">Option</th>
                    </tr>
                    </thead>
        
        
                    <tbody>
                        
                    </tbody>
                </table>
            `

            if(icon.classList.contains("ti-angle-down")){

                $(tr_row).addClass("text-info")
                

                //console.log(tr)
                tr.child(child_table).show()
                icon.classList.replace("ti-angle-down","ti-angle-double-down")
                datatable_obj[`childtable${tr.data()['id']}`] = $("#"+`childtable${tr.data()['id']}`)
                .DataTable({
                    responsive: true,
                    destroy:true,
                    pageLength : 5,
                    lengthMenu: [[5, 10, 20], [5, 10, 20]],
                    ajax: datatable_child_table
                        .replace("<table_name>",child_table_name)
                        .replace("<column_name>",column_pk_name)
                        .replace("<fk_value>",tr.data()[column_pk_name]),
                    
                    createdRow:modifyRowTR,
                    select: {
                        //className:"bg-light text-dark"
                    },
                    language: {
                        select: {
                            className:"",
                            rows: {
                                _: "    <i class='text-info'>No. of Rows %d</i> ",
                                0: "    <i class='text-info'>Click a row to select it</i>",
                            }
                        }
                    },
                    order: [[ 0, 'asc' ]],
                    columns:[].concat(datatable_column,datatable_column_modify_option),
                    select: true,
                    columnDefs: [
                        { targets: 0, width:"20px", visible : false, searchable : false },
                        { targets: 1, width:"30px",},
                        { targets: 5, orderable: false, width:"30px", searchable:false},
                        
                        { targets:[1,2,3,4,5,] , createdCell:modifyCellTD },
                    ]
                });

            }else{
                
                datatable_obj[`childtable${tr.data()['id']}`].clear().destroy();
                    
                $(icon).removeClass("ti-angle-double-down")
                $(icon).addClass("ti-angle-down")
                table.row(table.$(icon).parent().parent()).child.hide()
                $(icon).parent().parent().removeClass("text-info")
                $("#"+`childtable${tr.data()['id']}`).remove();

            }
        }

        var datatable_column_extend_child=[{ 
            data:"Expand",
            render:expandCellRender
        }]

        var datatable_column_modify_option=[{
            data:"Option",
            render:optionCellRender
        }]


        function expandCellRender(cell_data, type, row_data, meta){
            
            //console.log(row_data["sub_command"])
            if(row_data["sub_command"] === true || row_data["sub_command"]==="true"){
                
                return `<i class="ti-angle-down" title ="Double Click to Expand"></i> `;

            }
            else{
                return `<i class="fas fa-minus" title ="Double Click to Expand"></i>`;
            }
        } 
        
        function optionCellRender (e){
            return `
            <div class="btn-group mr-1 mt-2 ">
                <i class="ion ion-md-options dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" style="min-width: 10px;">
                    <a class="dropdown-item text-info" datatable-row-edit >Edit</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-warning"  datatable-row-swap-order >Swap Order</a>
                    <a class="dropdown-item text-warning" datatable-row-move >Move</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" datatable-row-delete>Delete</a>
                </div>
            </div>
            `;
        }
        
        function modifyRowTR(row, data, index){
            row.setAttribute("id","row-"+data[column_pk_name].toString())
            row.setAttribute("datatable-row-pk",data[column_pk_name].toString())
        }

        function modifyCellTD(td, cellData, rowData, row_index, col_index) {
            for (rowDataIndex in rowData){
                if (rowData[rowDataIndex] == cellData && typeof(rowData[rowDataIndex]) == typeof(cellData)){
                    td.setAttribute("datatable-cell-type",typeof(cellData))
                    td.setAttribute("datatable-cell-pk", rowData[column_pk_name])
                    td.setAttribute("datatable-cell-edit",false)
                    td.setAttribute("datatable-cell-name",rowDataIndex)
                    td.id = rowDataIndex
                    return td
                    
                }
            }
          }

        var table =$("#datatable")
            .on("click", "[datatable-row-edit]",function(){
                var tr_element =$(this).parent().parent().parent().parent()
                //
                //    Child data table edit
                //
                if(table.row(tr_element).data() === undefined){
                    childDatatable_id ="childtable"+table.row(tr_element.parent().parent().parent().parent().parent().parent().parent().prev()).data()[column_pk_name]
                    console.log(childDatatable_id)
                    if (childDatatableEdit[childDatatable_id] === undefined){

                        childDatatableEdit[childDatatable_id]={}
                        childDatatableEdit[childDatatable_id][tr_element.attr("datatable-cell-pk")]=
                        x_editable_row(this,
                                datatable_obj[childDatatable_id],
                                childDatatableEdit[childDatatable_id][tr_element.attr("datatable-cell-pk")],
                                child_table_name
                            )
                    }
                    else{
                        childDatatableEdit[childDatatable_id][tr_element.attr("datatable-cell-pk")]=
                            x_editable_row(this,
                                datatable_obj[childDatatable_id],
                                childDatatableEdit[childDatatable_id][tr_element.attr("datatable-cell-pk")],
                                child_table_name
                            )

                    }
                    return ;
                }
                //
                //    parent datatable edit
                //

                else{
                    
                    datatableEdit[tr_element.attr("datatable-cell-pk")] =
                        x_editable_row(this,
                            table,
                            datatableEdit[tr_element.attr("datatable-cell-pk")],
                            parent_table_name
                        )
                        return ;
                }
            })
            .on("click","[datatable-row-swap-order]",function(){
                
                var tr_element =$(this).parent().parent().parent().parent()
                //
                //    Child data table edit
                //
                if(table.row(tr_element).data() === undefined){
                    console.log("child table")
                    tr_element = tr_element.parent().parent().parent().parent().parent().parent().parent().prev()
                    childDatatable_id ="childtable"+table.row(tr_element).data()[column_pk_name]
                    child_table_datatable_obj = datatable_obj[childDatatable_id]
                    tr_element =$(this).parent().parent().parent().parent()
                    //console.log(tr_element)
                    if (tr_element.attr("datatable-swap") === undefined){
                        tr_element.attr("datatable-swap","")
                        tr_element.addClass("text-danger")
                        $(this).text("Swap Enable")
                        console.log(child_table_datatable_obj.rows(tr_element.parent().find("[datatable-swap]")).data())
                        if(child_table_datatable_obj.rows().data().length == 2){
                            var row_data = []
                            var row_element=[]

                            $.each(tr_element.parent().find("[datatable-swap]"),function(index,element){
                                row_element.push(element)
                                row_data.push(child_table_datatable_obj.row(element).data())
                            })
                            console.log(row_element[0])
                            var temp_1 = child_table_datatable_obj.row(row_element[0]).data()

                            var temp_pk_1 = temp_1[column_pk_name]
                            var temp_stable_1 = temp_1[column_swap_stable]
                            
                            var temp_2 = child_table_datatable_obj.row(row_element[1]).data()
                            var temp_pk_2 = temp_2[column_pk_name]
                            var temp_stable_2 = temp_2[column_swap_stable]

                            //temp_1[column_pk_name] = temp_pk_2
                            //temp_2[column_pk_name] = temp_pk_1

                            temp_1[column_swap_stable] = temp_stable_2
                            temp_2[column_swap_stable] = temp_stable_1
                            console.log(temp_1,temp_2)
                            $.ajax({
                                url: datatable_swap_row.replace("<table_name>",child_table_name),
                                dataType: 'JSON',
                                type: "POST",
                                contentType:"application/json",
                                data: JSON.stringify([temp_1,temp_2]),
                                success: function(data){
                                    //alert("success" + data);
                                    child_table_datatable_obj.row(row_element[0]).data(temp_2).draw("true")
                                    child_table_datatable_obj.row(row_element[1]).data(temp_1).draw("true")
                                }
                            })
                        }

                    }else{
                        tr_element[0].removeAttribute("datatable-swap")
                        tr_element.removeClass("text-danger")
                        $(this).text("Swap Order")
                    }
                    
                    /*
                    var row1Data = child_table_datatable_obj.row(tr_element).data()
                    var row2Data = child_table_datatable_obj.row(tr_element).data()

                    datatable.row(row1Index).data(row2Data).draw();
                    datatable.row(row2Index).data(row1Data).draw();
                    */
                }
                //
                //    parent datatable edit
                //
                else{
                    
                    console.log("parent table")

                    
                    if (tr_element.attr("datatable-swap") === undefined){
                        tr_element.attr("datatable-swap","")
                        tr_element.addClass("text-danger")
                        $(this).text("Swap Enable")
                        if(table.rows("[datatable-swap]").data().length == 2){
                            var row_data = []
                            var row_element=[]

                            $.each($("[datatable-swap]"),function(index,element){
                                row_element.push(element)
                                row_data.push(table.row(element).data())
                            })
                            console.log(row_data,row_element)
                            var temp_1 = table.row(row_element[0]).data()

                            var temp_pk_1 = temp_1[column_pk_name]
                            var temp_stable_1 = temp_1[column_swap_stable]
                            
                            var temp_2 = table.row(row_element[1]).data()
                            var temp_pk_2 = temp_2[column_pk_name]
                            var temp_stable_2 = temp_2[column_swap_stable]

                            //temp_1[column_pk_name] = temp_pk_2
                            //temp_2[column_pk_name] = temp_pk_1

                            temp_1[column_swap_stable] = temp_stable_2
                            temp_2[column_swap_stable] = temp_stable_1
                            console.log(temp_1,temp_2)
                            $.ajax({
                                url: datatable_swap_row.replace("<table_name>",parent_table_name),
                                dataType: 'JSON',
                                type: "POST",
                                contentType:"application/json",
                                data: JSON.stringify([temp_1,temp_2]),
                                success: function(data){
                                    //alert("success" + data);
                                    table.row(row_element[0]).data(temp_2).draw("true")
                                    table.row(row_element[1]).data(temp_1).draw("true")
                                }
                            })
                        }

                    }else{
                        tr_element[0].removeAttribute("datatable-swap")
                        tr_element.removeClass("text-danger")
                        $(this).text("Swap Order")
                    }
                    /*
                    var row1Data = table.row(tr_element).data()
                    var row2Data = table.row(tr_element).data()
                    */
                }
                
            })
            .on("click","[datatable-row-move]",function(){
                
            })
            .on("click",".addChildTable",function(){
                addChildTable(this,table,)//"childtable"+$(this).parent().attr("datatable-row-pk"))
            })
            .DataTable({
                ajax: datatable_get,
                select: {
                },
                language: {
                    select: {
                        rows: {
                            _: "    <i class='text-info'>No. of Rows %d</i> ",
                            0: "    <i class='text-info'>Click a row to select it</i>",
                        }
                    }
                },
                order: [[ 1, 'asc' ]],
                createdRow:modifyRowTR,
                columns: [].concat( datatable_column_extend_child, datatable_column, datatable_column_modify_option) ,

                columnDefs: [
                        { targets: 0, orderable: false, searchable : false,className : "addChildTable" },
                        { targets: 1, width:"20px", visible : false, searchable : false, },
                        { targets: 2, width:"30px",},
                        { targets: 7, orderable: false, width:"30px", searchable:false},

                        { targets:[2,3,4,5,6] , createdCell:modifyCellTD },
                    ]
        });
        

        const getMethods = (obj) => {
            let properties = new Set()
            let currentObj = obj
            do {
              Object.getOwnPropertyNames(currentObj).map(item => properties.add(item))
            } while ((currentObj = Object.getPrototypeOf(currentObj)))
            return [...properties.keys()].filter(item => typeof obj[item] === 'function')
          }

    </script>
{% endblock %}