{% extends "base/base.html" %}

{% block title %}Index{% endblock %}

{% block head %}

    {{ super() }}
    <style type="text/css">
    </style>

{% endblock %}

{% block content %}

    {% from  "base/header.html" import header  %}
    {{header("Shell Log")}}

    <div class="card-body ">
        <div class="custom-tab-2">
            <ul class="nav nav-tabs">
                
                <li class="nav-item" style="padding-right: 5px; padding-top: 5px; padding-bottom: 5px;"><a class="show btn btn-ft rounded-0 btn-outline-info active" data-toggle="tab" href="#info2">ALL</a>
                </li>
                
                <li class="nav-item" style="padding-right: 5px; padding-top: 5px; padding-bottom: 5px;"><a class=" btn btn-ft rounded-0 btn-outline-success  show" data-toggle="tab" href="#success2">Success</a>
                </li>
                <li class="nav-item" style="padding-right: 5px; padding-top: 5px; padding-bottom: 5px;"><a class="show btn btn-ft rounded-0 btn-outline-warning" data-toggle="tab" href="#warning2">Warning</a>
                </li>
                <li class="nav-item" style="padding-right: 5px; padding-top: 5px; padding-bottom: 5px;"><a class="show btn btn-ft rounded-0 btn-outline-danger" data-toggle="tab" href="#danger2">Error</a>
                </li>
            </ul>
            <div class="tab-content tab-content-default" style="background-color: #131633;" >
                <div class="tab-pane fade overflow-auto" id="success2" role="tabpanel" style="height: 400px;">
                    <div style="margin: -1.5em;">
                        {% for i in range(16) %}
                            <p style="color: floralwhite;"  class="font-italic"><em style="color: greenyellow;">Shell></em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <hr style="margin: 0.5%;" class="bg-success"/>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade active show overflow-auto" id="info2" style="height: 400px;">
                    <div style="margin: -1.5em;">
                        {% for i in range(16) %}
                            <p style="color: floralwhite; " class="font-italic"><em style="color: aqua; ">Shell></em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <hr style="margin: 0.5%;" class="bg-info"/>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade overflow-auto" id="danger2" style="height: 400px;">
                    
                    <div style="margin: -1.5em;">
                        {% for i in range(16) %}
                            <p style="color: white;" class="font-italic"><em style="color: rgb(189, 25, 33);">Shell></em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <hr style="margin: 0.5%;" class="bg-danger"/>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade overflow-auto" id="warning2" style="height: 400px;">
                    <div style="margin: -1.5em;">
                        {% for i in range(16) %}
                            <p style="color: white;"  class="font-italic"><em style="color: goldenrod;">Shell></em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <hr style="margin: 0.5%;" class="bg-warning"/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}